
<section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Carrito</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody id="cart">

            </tbody>
          </table>
        </div>
        <div id="amount" class="mb-4">
        </div>
</section>

<style>
  .quantity {
    font-size: 24px;
    background-color: #83b674;
    color: white;
    border: 0px;
    width: 25px;
  }

  .tachito {
    width: 40px;
  }

  .deleteButton {
    background-color: none;
    padding: 0px;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
<script>
  let pid = 1
  function getPID(id) {
    pid = id
  }
  const deleteButtons = document.getElementsByClassName('deleteButton');
  for (let i = 0; i < deleteButtons.length; i++) {
    deleteButtons[i].addEventListener('click', async function (event) {
      event.preventDefault(); // Evita el envío del formulario

      try {
        const response = await fetch(`/api/cart/1/products/${pid}`, {
          method: 'DELETE',
        });

        if (response.ok) {
          const data = await response.json();
        } else {
          console.log('Error al eliminar el producto');
        }
      } catch (error) {
        console.log('Error en la solicitud DELETE:', error);
      }
    });
  }
</script>
</script>