<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #83b674;">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto d-flex justify-content-center align-items-center mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-white" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/products">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/chat">Chat</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>
<section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Carrito</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody id="cart">

            </tbody>
          </table>
        </div>
</section>

  <div class="text-center text-white p-3"  style="background-color: #83b674;">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>

<style>
  .tachito {
    width: 40px;
  }
  .deleteButton {
    background-color: none;
    padding: 0px;
  }
</style>
<script>
let pid = 1
function getPID(id) {
  pid = id
}
  const deleteButtons = document.getElementsByClassName('deleteButton');
  for (let i = 0; i < deleteButtons.length; i++) {
    deleteButtons[i].addEventListener('click', async function(event) {
      event.preventDefault(); // Evita el envío del formulario

      try {
        const response = await fetch(`/api/cart/1/products/${pid}`, {
          method: 'DELETE',
        });

        if (response.ok) {
          const data = await response.json();
        } else {
          console.log('Error al eliminar el producto');
        }
      } catch (error) {
        console.log('Error en la solicitud DELETE:', error);
      }
    });
  }
</script>
</script>