<div class="d-grid justify-content-center my-5 mb-5">
    <h2>Recuperar Contraseña</h2>
    <p>Por favor, introduce tu dirección de correo electrónico para recuperar tu contraseña.</p>
    
        <label for="email">Correo Electrónico:</label>
        <input id="mailF"type="email" id="emailF" name="email" required>
        
        <button class="btn btn-success my-3" onclick="submitForgot()">Recuperar Contraseña</button>
</div>