

<div class="body"></div>

<style type="text/css">
  .body {
    height: 88vh;
    background-image: url(https://thumbs.dreamstime.com/z/vector-del-fondo-comercio-electr%C3%B3nico-icono-ejemplo-de-la-tienda-pendiente-el-para-sus-necesidades-un-tan-nuevo-proyecto-p%C3%A1gina-152082526.jpg);
    background-size: cover;
  }

  .carrito {
    height: 3.4vh;
  }

  .numero {
    background-color: black;
    border-radius: 100%;
    padding: 6px;
    font-size: 14px;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>

