

<section class="d-flex justify-content-center">
  <form class="my-5" onsubmit="submitLogin(event)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="mail-login" name="mail" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password-login" minlength="8" required name="password" placeholder="Password">
        <a class="my-3 mb-3" href="/forgot-password">Forgot your password?<a></a>
    </div>
    <button type="submit" class="btn my-3" style="background-color: #83b674; color: white;">Log-in</button>
  </form>
</section>
    <div class="text-center mb-5">
      <a href="/api/auth/github" class="btn">
        <img class="github-logo" src="\scripts\img\632cc59b0ce5f831d6ce0c8c_Screen Shot 2022-09-22 at 4.13.26 PM.jpg" alt="GitHub Logo">
      </a>
    </div>


<style type="text/css">
  .carrito {
    height: 3.4vh;
  }

  .form-group {
    width: 40vw;
  }
  .github-logo {
    width: 20vw;
  }

  .numero {
    background-color: black;
    border-radius: 100%;
    padding: 6px;
    font-size: 14px;
  }
    body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>