

<form class="my-5" action="/api/products/post" method="POST" onsubmit="submitForm(event)">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description" required>

  <label for="price">Price:</label>
  <input type="number" id="price" name="price" required>

  <label for="thumbnail">Thumbnail:</label>
  <input type="text" id="thumbnail" name="thumbnail" required>

  <label for="code">Code:</label>
  <input type="text" id="code" name="code" required>

  <label for="stock">Stock:</label>
  <input type="number" id="stock" name="stock" required>

  <button type="submit">Submit</button>
</form>

<script>
  function submitForm(event) {
    event.preventDefault();

    const title = document.getElementById('title').value;
    const description = document.getElementById('description').value;
    const price = document.getElementById('price').value;
    const thumbnail = document.getElementById('thumbnail').value;
    const code = document.getElementById('code').value;
    const stock = document.getElementById('stock').value;

    const formData = {
      title: title,
      description: description,
      price: price,
      thumbnail: thumbnail,
      code: code,
      stock: stock
    };

    // Enviar los datos en formato JSON al servidor
    fetch('/api/products/post', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
      .then(response => {
        if (response.ok) {
          console.log('Datos enviados correctamente');
          window.location.href = '/products'
        } else {
          console.error('Error al enviar los datos');
        }
      })
      .catch(error => {
        console.error('Error de red:', error);
      });
  }
</script>

<style type="text/css">
  .carrito {
    height: 3.4vh;
  }

  .numero {
    background-color: black;
    border-radius: 100%;
    padding: 6px;
    font-size: 14px;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>