<div id="detail" class="row d-flex justify-content-center body">
</div>


<script>


</script>
<style type="text/css">
  .carrito {
    height: 3.4vh;
  }

  .tacho {
    width: 40px;
    border-color: 0px;
  }

  .numero {
    background-color: black;
    border-radius: 100%;
    padding: 6px;
    font-size: 14px;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
  }
</style>