<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #83b674;">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto d-flex justify-content-center align-items-center mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-white" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/chat">Chat</a>
          </li>
          <li class="nav-item">
            <a href="/cart"><img  class="carrito" src="https://cdn-icons-png.flaticon.com/512/107/107831.png?w=826&t=st=1684874915~exp=1684875515~hmac=4e323ee324cb8723eddafaf00dbf77a78c0e67718f36cb36676a61934d30e5d3"></a>
            <span  id="carrito" class="numero text-white"></span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>

<div id="products" class="row body d-flex justify-content-center">

</div>

<style type="text/css">
   .carrito {
    height: 3.4vh;
   }
    .numero { 
    background-color: black;
    border-radius: 100%;
    padding: 6px;
    font-size: 14px;
   }
</style>


  <!-- Copyright -->
  <div class="text-center text-white p-3"  style="background-color: #83b674;">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>