<section class="d-flex justify-content-center">
  <form class="my-5" onsubmit="submitRegister(event)">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" maxlength="20" name="name" 
        placeholder="Enter your name">
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input class="form-control" id="lastname" maxlength="20" name="lastname"
        placeholder="Enter your lastname">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="mail" name="mail" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Age</label>
      <input class="form-control" id="age" name="age" minlength="2" maxlength="2" placeholder="Your age">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password" minlength="8" required name="password"
        placeholder="Password">
    </div>

    <button type="submit" class="btn my-3" style="background-color: #83b674; color: white;">Register</button>
  </form>
</section>